@import "./settings.scss";

.root {
  &-container {
    min-width: $container-min-width;
    max-width: $container-max-width;
  }

  &-content {
    padding-left: $content-padding-left;
    padding-right: $content-padding-right;
  }
}
