$tablet-portrait-breakpoint: 768px;
$tablet-landscape-breakpoint: 992px;
$desktop-breakpoint: 1200px;

$container-min-width: 720px;
$container-max-width: 1440px;

$content-padding-left: 6rem;
$content-padding-right: 2rem;

$white: #fff;
$black: #000;
$grey: #cdcdcd;
